html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Select with element and id to increase specificity */
body#body {
  margin: 0;
  padding: 0;
  display: block flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}
